* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Global variables */
:root {
    --primary-color: #C9A96E;
    --text-color: #171717;
    --border-av: 1px solid #e5e5e5;
    --box-shadow-av: 0 2px 4px rgba(0, 0, 0, 0.09);
}


/* Common CSS */
html {
    font-size: 62.5%;
    font-family: 'PT Serif', serif;
    color: var(--text-color);
}

.title-font {
    font-family: 'PT Sans', sans-serif;
}

.text-upper {
    text-transform: uppercase;
}

.text-gray {
    color: #B4B4B4;
}

